DB_URL=
SUPABASE_KEY=
PROJECT_URL=

NEXT_PUBLIC_MAX_FILE_SIZE_MB=5
NEXT_PUBLIC_MAX_SERIES_SEARCH_PAGE_SIZE=20
NEXT_PUBLIC_MAX_SERIES_SEARCH_QUERY_LENGTH=50

DEBUG=false

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=